
<div id="carousel-example-generic" class="carousel slide slide-bg" data-ride="carousel" data-interval="3000" data-pause="hover">
		  
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			<li data-target="#carousel-example-generic" data-slide-to="5"></li>

		  </ol>

		 
		  <div class="carousel-inner " role="listbox">
			
						<div class="item active">
						  
							<img class="bgImg img-responsive" src="images/slider1.png" alt="anpro 180">
							
							<div class="carousel-caption banner-letter banner-anpro180">
						
								<h3>G2G Anpro 180</h3>
								<h4>180° Optical lenses</h4>
								
								
								<p>The AnPro 180 module provides a wide 180° viewing angle.
This design offers an energy efficient and cost effective solution to sign lighting.
</p>
								<a  class="btn btn-anpro180" ng-href="#/product/anpro_pro.html">
								     	Learn More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
								</a>
						
					   </div>				
						  
					  </div>
					   <div class="item ">
					   	   
							<img class="bgImg img-responsive" src="images/slider2.png" alt="micro">
							<div class="carousel-caption banner-letter banner-micro">
						
								<h3>G2G </h3>
								<h4><strong>Micro</strong> series</h4>
								
								
								<p>New Generation Of Mini Module</p>
								<div></div>
								<a  class="btn btn-micro btn-lg" ng-href="#/product/g2g_micro.html">
								     	Learn More <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> 
								</a>
						
					    </div>				
						  
					  </div>
					  <div class="item ">
					  	
						  <img class="bgImg img-responsive" src="images/slider3.png" alt="wow">
						  <div class="carousel-caption banner-letter banner-wow">
						    <h4>160° Optical lenses</h4>
								<h3>WOW SERIES HAS</h3>
								<h5>more color</h5>
								<h5>options</h5>
								
								<p>And now with 7 color choices, prepare to say WOW！</p>
								<a  class="btn btn-anpro180" ng-href="#/product/WOW-Series.html">
								     	Learn More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
								</a>
						
					    </div>	
						
					  </div>
					  <div class="item">
					  	
						  <img class="bgImg img-responsive" src="images/slider4.png" alt="trico">
						  <div class="carousel-caption banner-letter banner-trico">
						
								<h4>G2G TriCo</h4>
								<h3>Smart RGB LED Module</h3>
								
								
								<p>12V DC | Constant Current | Long Lifetime | </p>
								<p> Mechanical|3M Tape |UV Resistant|</p>
								<a  class="btn btn-anpro180" ng-href="#/product/TriCo-Series.html">
								     	Learn More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
								</a>
						
					    </div>	
						
					  </div>
					  <div class="item ">
					  	
							<img class="bgImg img-responsive" src="images/slider5.png" alt="talent i">
							<div class="carousel-caption banner-letter banner-talent">
						
								<h3>Talent I</h3>
								<h4>(WIFI/4G)</h4>
								
								
								<p>The Talent I Master LED Controller includes an easy to use remotecontrol to adjust brightness, white balance and playback speed, and it's exterior pre-set buttons allow for fast and simple programing.</p>
								<a  class="btn btn-anpro180  talent_i" ng-href="#/product/talent_i.html">
								     	Learn More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
								</a>
						
					    </div>	
					    
					  </div>
					  <div class="item ">
					  	
							<img class="bgImg img-responsive" src="images/slider6.png" alt="aurora flex">
							<div class="carousel-caption banner-letter banner-flex">
						
								<h3><span>AURORA</span>Flex</h3>
								<h4>Innovative Design | Unique Shape</h4>
								
								<p>Vivid and effective neon lighting, without any dark spots.</p>
								<a  class="btn btn-anpro180" ng-href="#/product/neon.html">
								     	Learn More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
								</a>
						
					    </div>	
					  
					  </div>
					 
					  
			
		  </div>

		     <!-- 
			  <div class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </div>
			  <div class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </div>
			  -->

	</div>
<div class="led-difference">

	<div id="app" class="wrap" ng-init="now=0;">
		
		  <h3>The LED Difference</h3>
		  <p>We are redefining illumination by integrating state of the art technology, design, and unrivaled performance.</p>
      
      <div class="dfcontent" ng-show="now==0">
      	    <div class="dftech ">
      	    	   <img class="img-responsive" src="images/df5.jpg" alt="">
      	    	   
      	    </div>
      	    <h3 class="tech-h3">Tech Support</h3>
      	    <div class="dfvideo">
      	    	   <img class="img-responsive" src="images/df4.jpg" alt="">
      	    	   <h3>Videos</h3>
      	    </div>
      	    <div class="dfwarranty">
      	    	   <img class="img-responsive" src="images/df6.jpg" alt="">
      	    	   <h3>Warranty</h3>
      	    </div>
      	    <button  class="btn btn-more btn-primary"> Learn more</button>
      </div>
      <div class="dfcontent" ng-show="now==1">
      	      <div class="dftech ">
      	    	   <img class="img-responsive" src="images/df2.jpg" alt="">
      	    	   
      	    </div>
      	    <h3 class="tech-h3">Sample Request</h3>
      	    <div class="dfvideo">
      	    	   <img class="img-responsive" src="images/df1.jpg" alt="">
      	    	   <h3>Products Instructions</h3>
      	    </div>
      	    <div class="dfwarranty">
      	    	   <img class="img-responsive" src="images/df3.jpg" alt="">
      	    	   <h3>Catalogs</h3>
      	    </div>
      	    <button  class="btn btn-more btn-primary"> Learn more</button>
      </div>
     
      
      <div class="btn-group">
      	
				  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" ng-click="now=0"></span>

				  <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" ng-click="now=1"></span>
         
         
      </div>
  </div>
</div>

<div class="sign-part">
	  <div class="sign-part-contect">
	  	<div class="row sign-row">
				  <div class="col-xs-5 col-md-5 sign-img">
				  	   <img class="img-responsive" src="images/sign_light.jpg" alt="">
				  </div>
				  <div id="sign-content" class="col-xs-6 col-md-6 ">
				  	  <h4 >Brighter. Stronger. Greener.</h4>
				  	  <h3 >Sign Lighting</h3>
				  	  <h4 >Know more about our sign lighting products.</h4>
				  	  <h5 class="sign-app">SUITABLE FOR</h5>
				  	  <div class="row sign-row">
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign1.png" alt="">
							  </div>
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign2.png" alt="">
							  </div>
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign3.png" alt="">
							  </div>

						</div>
						<a  class="btn-sign" ng-href="#category">
								     	More 
						</a>
				  </div>
				  
			</div>
	  </div>
	  <div class="zigzag-bottom">
	  	
	  </div>
</div>
<div class="com">
	   <div class="sign-part-contect">
	  	<div class="row sign-row">
				  
				  <div id="sign-content" class="col-xs-6 col-md-6 ">
				  	  <h4 >Brighter. Stronger. Greener.</h4>
				  	  <h3 >Commercial Lighting</h3>
				  	  <h4 >Find the suitable commercial lighting for your office.</h4>
				  	  <h5 class="sign-app">SUITABLE FOR</h5>
				  	  <div class="row sign-row">
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign4.png" alt="">
							  </div>
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign5.png" alt="">
							  </div>
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign6.png" alt="">
							  </div>

						</div>
							<a  class="btn-sign" ng-href="#category">
									     	More 
							</a>
				  </div>
				  <div class="col-xs-5 col-md-5 sign-img">
				  	   <img class="img-responsive" src="images/commercial-light.jpg" alt="">
				  </div>
				  
			</div>
	  </div>
	  <div class="zig-bottom">
	  	
	  </div>
</div>
<div class="outdoor">
	  <div class="sign-part-contect">
	  	<div class="row sign-row">
				  <div class="col-xs-5 col-md-5 sign-img">
				  	   <img class="img-responsive" src="images/outdoor-light.jpg" alt="">
				  </div>
				  <div id="sign-content" class="col-xs-6 col-md-6 ">
				  	  <h4 >Where sustainability meets design, the future of green is here.</h4>
				  	  <h3 >Outdoor Lighting</h3>
				  	  <h4 >we offer energy-efficient, high-value outdoor lighting product.</h4>
				  	  <h5 class="sign-app">SUITABLE FOR</h5>
				  	  <div class="row sign-row">
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign7.png" alt="">
							  </div>
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign8.png" alt="">
							  </div>
							  <div class="col-xs-3 col-md-3 ">
							  	   <img class="img-responsive" src="images/sign9.png" alt="">
							  </div>

						</div>
						<a  class="btn-sign" ng-href="#category">
								     	More 
						</a>
				  </div>
				  
			</div>
	  </div>
	
</div>
<div class="home-support">
	<div class="support-title">
			<h2>SUPPORT</h2>
			
			<p>Explore the technology that sets G2G apart. To learn more, view our downloadable catalogues, manuals and installation guides for the most up to
		date information on our products.
		</p>
	</div>
<div class="support-content" ng-init="sup=0;">
			<div class="row ">
				  <div class="col-xs-5 col-md-5 sign-img support-row ">
				  	  <img class="img-responsive" src="images/support-sign.png" alt="">
				  	  <div class="cata support-btn" ng-class="{cataactive: sup==0}" ng-click="sup=0">
				  	  	
				  	  </div>
				  	  <div class="app support-btn" ng-class="{appactive: sup==1}" ng-click="sup=1">
				  	  	
				  	  </div>
				  	  <div class="wa support-btn" ng-class="{waactive: sup==2}" ng-click="sup=2">
				  	  	
				  	  </div>
				  	  <div class="in support-btn" ng-class="{inactive: sup==3}" ng-click="sup=3">
				  	  	
				  	  </div>
				  </div>
				  <div class="col-xs-6 col-md-6 ">
				  	<div class="support-art" ng-show="sup==0">
				  		  <h2>G2G Lighting Catalogs</h2>
				  		  <h4>
				  		  	 <span></span>
				  		  	 G2G Modules Catalogs
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 G2G Wall Washer Catalog
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 G2G Power Catalog
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 G2G Retrofit Kit Catalog
				  		  </h4>
				  		 <h4>
				  		  	 <span></span>
				  		  	 G2G Shoebox Light Catalog
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	G2G T8 Tube Catalog
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 HO Socket Brackets Catalog
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 LED Neon Catalog
				  		  </h4>
				  	</div>
				  	<div class="support-art" ng-show="sup==1">
				  		  <h2>APP Download</h2>
				  		  <h4>
				  		  	 <span></span>
				  		  	 WIFI 300 APP For Android
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	DIY WIFI APP For Android
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Si-PlayLED For Android
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Talent I Software For Windows
				  		  </h4>
				  		 
				  	</div>  
				  	<div class="support-art" ng-show="sup==2">
				  		  <h2>Warranty Information</h2>
				  		  <h4>
				  		  	 <span></span>
				  		  	 LED Module Warranty
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	Defective Product Claims Procedure
				  		  </h4>
				  		  
				  		 
				  	</div>  
				  	<div class="support-art" ng-show="sup==3">
				  		  <h2>G2G Installation Guides</h2>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Channel Letter Installation Guide
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 ArRay Installation Guide
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Trident Stick Installation Guide
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Modules Spacing
				  		  </h4>
				  		 <h4>
				  		  	 <span></span>
				  		  	 WIFI-300 APP Instruction
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	DIY WIFI APP Instruction
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Wire Gauge Distance Chart
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	 Aurora Flex Installation
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	Talent I Installation
				  		  </h4>
				  		   <h4>
				  		  	 <span></span>
				  		  	 Talent II Installation
				  		  </h4>
				  		  <h4>
				  		  	 <span></span>
				  		  	Talent III Installation
				  		  </h4>
				  	</div>
				  
			    </div>
	   </div>
	    <a  class="btn-more sup-btn btn-primary" ng-href="#support/download"> Learn more</a>
	
</div>

   
	 