<div class="productcontent">
	<div class="productInner">
		<div class="productItem" ng-class="{active :pid == 'signlighting'||flag==1}">
			<img class="img-responsive"  src="images/signproduct.jpg" >
		</div>
		<div class="productItem" ng-class="{active :pid == 'outdoorlighting'||flag==2}">
			<img class="img-responsive"  src="images/outdoorproduct.jpg" >
		</div>
		<div class="productItem" ng-class="{active :pid == 'commerciallighting'||flag==3}">
			<img class="img-responsive"  src="images/commercialproduct.jpg" >
		</div>
		<div class="classify text-center">
              <a class="classifyactivebtn " ng-class="{classifyactive :pid == 'signlighting'||flag==1}"  ng-click="filterProducts('signlighting','')">Sign Lighting</a>
			  <a class="classifyactivebtn" ng-class="{classifyactive :pid == 'outdoorlighting'||flag==2}"  ng-click="filterProducts('outdoorlighting','')">Outdoor Lighting</a>
			  <a class="classifyactivebtn" ng-class="{classifyactive :pid == 'commerciallighting'||flag==3}"  ng-click="filterProducts('commerciallighting','')">Commercial Lighting</a>
       </div>
   </div>
   <div class="secondclassify">
       <ul ng-show="pid=='signlighting'||flag==1" class="portfolio-filter text-center">
           <!--<li><a ng-click="filterProducts('signlighting','')" class="btn btn-default all" ng-class="{active :pid == 'signlighting'}" >All</a></li>-->
			<li><a ng-click="filterProducts('letter','')" class="btn btn-default letter" ng-class="{active :pid == 'letter'}" >Channel Lettering</a></li>
			<li><a ng-click="filterProducts('sign','')" class="btn btn-default product_sign" ng-class="{active :pid == 'sign'}">Sign Cabinets</a></li>
			<li><a ng-click="filterProducts('controller','')" class="btn btn-default controller" ng-class="{active :pid == 'controller'}" >Controller Systems</a></li>
			<li><a ng-click="filterProducts('neon','')" class="btn btn-default neon" ng-class="{active :pid == 'neon'}" >Aurora Flex</a></li> 
		    <li><a ng-click="filterProducts('accessories','')" class="btn btn-default accessories" ng-class="{active :pid == 'accessories'}" >Accessories</a></li>
			

		</ul>
        <ul ng-show="pid=='commerciallighting'||flag==3" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('commerciallighting','')" class="btn btn-default all" ng-class="{active:pid == 'commerciallighting'}" >All</a></li>-->
			<li><a ng-click="filterProducts('tube','')" class="btn btn-default t8" ng-class="{active:pid == 'tube'}" >T8 Tubes</a></li>

		</ul>

		<ul ng-show="pid=='outdoorlighting'||flag==2" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('outdoorlighting','')" class="btn btn-default all" ng-class="{active:pid == 'outdoorlighting'}" >All</a></li>-->
			<li><a ng-click="filterProducts('wall','')" class="btn btn-default wall" ng-class="{active:pid == 'wall'}" >Wall Washers</a></li>
			<li><a ng-click="filterProducts('flood','')" class="btn btn-default flood" ng-class="{active:pid == 'flood'}" >Flood Lights</a></li>
			<li><a ng-click="filterProducts('shoebox','')" class="btn btn-default shoe" ng-class="{active:pid == 'shoebox'}" >Shoebox Lighting</a></li>
			<li><a ng-click="filterProducts('retrofit','')" class="btn btn-default retrofit" ng-class="{active:pid == 'retrofit'}" >Retrofit Kits</a></li>
		</ul>

	</div>
	<div class="container thirdclassify">
		<ul ng-show="pid=='wall'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('wall','')" class="btn btn-default" ng-class="{active:cid == 'all'}">All</a></li>-->
			<li><a ng-click="filterProducts('wall','i_series')" class="btn btn-default" ng-class="{active:cid == 'i_series'}" >Ⅰ Series</a></li>
			<li><a ng-click="filterProducts('wall','ii_series')" class="btn btn-default" ng-class="{active:cid == 'ii_series'}" >Ⅱ Series</a></li>
			<li><a ng-click="filterProducts('wall','v_series')" class="btn btn-default" ng-class="{active:cid == 'v_series'}" >Ⅴ Series</a></li>
			<li><a ng-click="filterProducts('wall','vi_series')" class="btn btn-default" ng-class="{active:cid == 'vi_series'}" >Ⅵ Series</a></li>
			<li><a ng-click="filterProducts('wall','vii_series')" class="btn btn-default" ng-class="{active:cid == 'vii_series'}" >Ⅶ Series</a></li>
			<li><a ng-click="filterProducts('wall','viii_series')" class="btn btn-default" ng-class="{active:cid == 'viii_series'}" >Ⅷ Series</a></li>
			<li><a ng-click="filterProducts('wall','oona-slim')" class="btn btn-default" ng-class="{active:cid == 'oona-slim'}" >Oona Slim Wall Washer</a></li>
		</ul>
		<ul ng-show="pid=='flood'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('flood','')" class="btn btn-default" ng-class="{active:cid == 'all'}">All</a></li>-->
			<li><a ng-click="filterProducts('flood','i_series')" class="btn btn-default" ng-class="{active:cid == 'i_series'}" >G2GFL10W</a></li>
			<li><a ng-click="filterProducts('flood','ii_series')" class="btn btn-default" ng-class="{active:cid == 'ii_series'}" >G2GFL20W</a></li>
			<li><a ng-click="filterProducts('flood','iii_series')" class="btn btn-default" ng-class="{active:cid == 'iii_series'}" >G2GFL30W</a></li>
			<li><a ng-click="filterProducts('flood','v_series')" class="btn btn-default" ng-class="{active:cid == 'v_series'}" >G2GFL50W</a></li>
			<li><a ng-click="filterProducts('flood','vi_series')" class="btn btn-default" ng-class="{active:cid == 'vi_series'}" >G2GFL100W</a></li>

		</ul>
				  
		<ul ng-show="pid=='letter'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('letter','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
			<li><a ng-click="filterProducts('letter','aurora')" class="btn btn-default" ng-class="{active:cid == 'aurora'}" >Aurora Series</a></li>
			<!--<li><a ng-click="filterProducts('letter','nox')" class="btn btn-default" ng-class="{active:cid == 'nox'}" >NOX Series</a></li>-->
			<li><a ng-click="filterProducts('letter','anpro')" class="btn btn-default" ng-class="{active:cid == 'anpro'}" >AnPro Series</a></li>
			<li><a ng-click="filterProducts('letter','wow')" class="btn btn-default" ng-class="{active:cid == 'wow'}" >WOW Series</a></li>
			<li><a ng-click="filterProducts('letter','trico')" class="btn btn-default" ng-class="{active:cid == 'trico'}" >TriCo Series</a></li>
			<li><a ng-click="filterProducts('letter','micro')" class="btn btn-default" ng-class="{active:cid == 'micro'}" >Micro Series</a></li>
		</ul>
		
		<ul ng-show="pid=='sign'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('sign','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
            <li><a ng-click="filterProducts('sign','array')" class="btn btn-default" ng-class="{active:cid == 'array'}" >ArRay Series</a></li>
            <li><a ng-click="filterProducts('sign','anpro-stick')" class="btn btn-default" ng-class="{active:cid == 'anpro-stick'}" >Anpro Stick Series</a></li>
            <li><a ng-click="filterProducts('sign','trident-stick')" class="btn btn-default" ng-class="{active:cid == 'trident-stick'}" >Trident Stick Series</a></li>
            <li><a ng-click="filterProducts('sign','trident')" class="btn btn-default" ng-class="{active:cid == 'trident'}" >Trident Series</a></li>
            <li><a ng-click="filterProducts('sign','side')" class="btn btn-default" ng-class="{active:cid == 'side'}" >SiDe Series</a></li>

        </ul>
		<ul ng-show="pid=='accessories'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('sign','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
			<li><a ng-click="filterProducts('accessories','arraybracket')" class="btn btn-default" ng-class="{active:cid == 'arraybracket'}" >ArRay Bracket</a></li>
			<li><a ng-click="filterProducts('accessories','tridentbracket')" class="btn btn-default" ng-class="{active:cid == 'tridentbracket'}" >Trident Bracket</a></li>
			<li><a ng-click="filterProducts('accessories','hosocket')" class="btn btn-default" ng-class="{active:cid == 'hosocket'}" >Ho Socket Connector</a></li>

		</ul>
      <ul ng-show="pid=='controller'" class="portfolio-filter text-center">
		  <!--<li><a ng-click="filterProducts('controller','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
          <li><a ng-click="filterProducts('controller','diywifi')" class="btn btn-default" ng-class="{active:cid == 'diywifi'}" >DIY Wifi</a></li>
          <li><a ng-click="filterProducts('controller','wifi300')" class="btn btn-default" ng-class="{active:cid == 'wifi300'}" >Wifi 300</a></li>
          <li><a ng-click="filterProducts('controller','rf3keys')" class="btn btn-default" ng-class="{active:cid == 'RF3Keys'}" >RF Dimmer</a></li>
          <li><a ng-click="filterProducts('controller','knod')" class="btn btn-default" ng-class="{active:cid == 'knod'}" >Knob Dimmer</a></li>
      </ul>
      <!--<ul ng-show="pid=='power'" class="portfolio-filter text-center">
          <li><a ng-click="filterProducts('power','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>
          <li><a ng-click="filterProducts('power','100W')" class="btn btn-default" ng-class="{active:cid == '100W'}" >100W</a></li>
          <li><a ng-click="filterProducts('power','200W')" class="btn btn-default" ng-class="{active:cid == '200W'}" >200W</a></li>
          <li><a ng-click="filterProducts('power','300W')" class="btn btn-default" ng-class="{active:cid == '300W'}" >300W</a></li>
      </ul>
      -->
		<ul ng-show="pid=='shoebox'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('shoebox','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
			<li><a ng-click="filterProducts('shoebox','40W')" class="btn btn-default" ng-class="{active:cid == '40W'}" >G2G-40W</a></li>
			<li><a ng-click="filterProducts('shoebox','80W')" class="btn btn-default" ng-class="{active:cid == '80W'}" >G2G-80W</a></li>
			<li><a ng-click="filterProducts('shoebox','120W')" class="btn btn-default" ng-class="{active:cid == '120W'}" >G2G-120W</a></li>
			<li><a ng-click="filterProducts('shoebox','160W')" class="btn btn-default" ng-class="{active:cid == '160W'}" >G2G-160W</a></li>
			<li><a ng-click="filterProducts('shoebox','200W')" class="btn btn-default" ng-class="{active:cid == '200W'}" >G2G-200W</a></li>
		</ul>
		<ul ng-show="pid=='retrofit'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('retrofit','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
			<li><a ng-click="filterProducts('retrofit','105W')" class="btn btn-default" ng-class="{active:cid == '105W'}" >G2G-RK-105WA</a></li>
			<li><a ng-click="filterProducts('retrofit','120W')" class="btn btn-default" ng-class="{active:cid == '120W'}" >G2G-RK-120WA</a></li>
			<li><a ng-click="filterProducts('retrofit','150W')" class="btn btn-default" ng-class="{active:cid == '150W'}" >G2G-RK-150WA</a></li>
			<li><a ng-click="filterProducts('retrofit','200W')" class="btn btn-default" ng-class="{active:cid == '200W'}" >G2G-RK-200WA</a></li>
		</ul>

		<ul ng-show="pid=='tube'" class="portfolio-filter text-center">
			<!--<li><a ng-click="filterProducts('tube','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>-->
			<li><a ng-click="filterProducts('tube','4ft')" class="btn btn-default" ng-class="{active:cid == '4FT'}" >4FT</a></li>
			<li><a ng-click="filterProducts('tube','6ft')" class="btn btn-default" ng-class="{active:cid == '6FT'}" >6FT</a></li>
			<li><a ng-click="filterProducts('tube','8ft')" class="btn btn-default" ng-class="{active:cid == '8FT'}" >8FT</a></li>
		</ul>


	  	


		<!--/#product-filter-->
		<div class="row">
			<div class="portfolio-items">
				
				<div class="portfolio-item {{v.cid}} col-xs-12 col-sm-3 col-md-3" ng-repeat="v in filtered">
					<a ng-href="#product/{{v.href}}">
						<img class="img-responsive" src="images/products/{{v.img}}" alt="">
					</a>
				</div>
				
			</div>
		</div>
		
	</div>
</div>

