<div>
	<div class="top-center">
		<h2>Our Products</h2>
		<p class="secondTitle">
			We provide the best products for you.
		</p>
	</div>
	<div class="container ">
		<ul class="link-filter text-center">
			<li><a class="btn btn-default " ng-class="{active:pid == 'letter'}" ng-click="filterProducts('letter','')">Channel Letter</a></li>
			<li><a class="btn btn-default " ng-class="{active:pid == 'sign'}" ng-click="filterProducts('sign','')">Sign Box</a></li>
			<li><a class="btn btn-default" ng-class="{active:pid == 'wall'}" ng-click="filterProducts('wall','')">Wall Washer</a></li>
			
		</ul>
		
		<ul ng-show="pid=='wall'" class="portfolio-filter text-center">
			<li><a ng-click="filterProducts('wall','')" class="btn btn-default" ng-class="{active:cid == 'all'}">All</a></li>
			<li><a ng-click="filterProducts('wall','i_series')" class="btn btn-default" ng-class="{active:cid == 'i_series'}" >Ⅰ Series</a></li>
			<li><a ng-click="filterProducts('wall','ii_series')" class="btn btn-default" ng-class="{active:cid == 'ii_series'}" >Ⅱ Series</a></li>
			<li><a ng-click="filterProducts('wall','v_series')" class="btn btn-default" ng-class="{active:cid == 'v_series'}" >Ⅴ Series</a></li>
			<li><a ng-click="filterProducts('wall','vi_series')" class="btn btn-default" ng-class="{active:cid == 'vi_series'}" >Ⅵ Series</a></li>
			<li><a ng-click="filterProducts('wall','vii_series')" class="btn btn-default" ng-class="{active:cid == 'vii_series'}" >Ⅶ Series</a></li>
			<li><a ng-click="filterProducts('wall','viii_series')" class="btn btn-default" ng-class="{active:cid == 'letter'}" >Ⅷ Series</a></li>
		</ul>
				  
		<ul ng-show="pid=='letter'" class="portfolio-filter text-center">
			<li><a ng-click="filterProducts('letter','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>
			<li><a ng-click="filterProducts('letter','aurora')" class="btn btn-default" ng-class="{active:cid == 'aurora'}" >Aurora Series</a></li>
			<li><a ng-click="filterProducts('letter','nox')" class="btn btn-default" ng-class="{active:cid == 'nox'}" >NOX Series</a></li>
			<li><a ng-click="filterProducts('letter','anpro')" class="btn btn-default" ng-class="{active:cid == 'anpro'}" >AnPro Series</a></li>
			<li><a ng-click="filterProducts('letter','wow')" class="btn btn-default" ng-class="{active:cid == 'wow'}" >WOW Series</a></li>
			<li><a ng-click="filterProducts('letter','trico')" class="btn btn-default" ng-class="{active:cid == 'trico'}" >TriCo Series</a></li>
		</ul>
		
		<ul ng-show="pid=='sign'" class="portfolio-filter text-center">
	      	<li><a ng-click="filterProducts('sign','')" class="btn btn-default" ng-class="{active:cid == 'all'}" >All</a></li>
		  	<li><a ng-click="filterProducts('sign','array')" class="btn btn-default" ng-class="{active:cid == 'array'}" >ArRay Lighting System</a></li>
		  	<li><a ng-click="filterProducts('sign','sparx')" class="btn btn-default" ng-class="{active:cid == 'sparx'}" >SparX Lighting System</a></li>
		  	<li><a ng-click="filterProducts('sign','trident-stick')" class="btn btn-default" ng-class="{active:cid == 'trident-stick'}" >Trident Stick System</a></li>
		  	<li><a ng-click="filterProducts('sign','trident')" class="btn btn-default" ng-class="{active:cid == 'trident'}" >Trident Lighting System</a></li> 
		  	<li><a ng-click="filterProducts('sign','side')" class="btn btn-default" ng-class="{active:cid == 'side'}" >SiDe Lighting System</a></li> 
		  	 
	  	</ul>
	  	
	  	
	  	
	

		<!--/#product-filter-->
		<div class="row">
			<div class="portfolio-items">
				
				<div class="portfolio-item {{v.cid}} col-xs-12 col-sm-4 col-md-4" ng-repeat="v in filtered">
					<a ng-href="#product/{{v.href}}">
						<img class="img-responsive" src="images/products/{{v.img}}" alt="">
					</a>
				</div>
				
			</div>
		</div>
		
	</div>
</div>

